body{
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color:hsl(199, 100%, 85%) ;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.weatherForm{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hwb(182 2% 0% / 0.329);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hwb(118 0% 36% / 0.767);
    color: white;
    border: none;
    border-radius: 4px;
}
button[type="submit"]:hover{
    background-color:hwb(118 0% 51% / 0.767);
}
.card{
    background: linear-gradient(180deg, hsla(187, 100%, 50%, 0.699),  hsla(263, 100%, 50%, 0.527));
    padding: 30px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.664);
    min-width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;

}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.733);
    margin-bottom: 25px;
}
.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;

}
.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;

}
.weatherEmoji{
    margin: 0;
    font-size: 7rem;
}
.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(0, 100%, 63%);
}